


    .flex-contian {
        display: flex;
        display: flex;
        margin-top: -53%;
      }
      @media only screen and (min-width: 600px) {
     .flex-contian {
        margin-top: -1%;
      }
    }
      .f-img{
        position: absolute;
        max-width: 100%;
        top: -20%;
      }
    
    .Unobtainable {
        position: relative;
        overflow: visible;
        font-family: "Helvetica Neue",Helvetica, Arial, sans-serif;
        font-style: bold;
        font-weight: bold;
        font-size: 35px;
        margin-left: -290px;
        margin-top: 350px;
        color: rgba(0,0,0,1);
        text-transform: uppercase;
    z-index: 1;
    }

@media only screen and (min-width: 600px) {
    .Unobtainable {
        position: relative;
    font-size: 60px;
    /* margin-left: -16%; */
    top: -16%;
    color: rgba(0,0,0,1);
    /* text-align: center; */
    z-index: 1;
    left: 10%;
    opacity: 0.5;
    margin: 17%;

    }
    
  }
    .introline{
        position: relative;
        overflow: visible;
        white-space: nowrap;
        text-align: center;
        font-family: "Helvetica Neue",Helvetica, Arial, sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 75px;
        color: rgba(10,10,10,1);
        top: 56px;
    }
    
    @media only screen and (min-width: 600px) {
    .introline {
       display: none;

    }
    
  }
    #the{
        top: 145px;
        right: 190px;
    }

    .sideline{
        width: 40px;
        position: absolute;
        margin-left: -8%;
        top: 0px;
    }
    @media only screen and (min-width: 600px) {
    .sideline{
        display: none;
    
    }
    
  }

    @media only screen and (min-width: 600px) {
    .sidelineleft{
        display: none;
    
    }
    
  }

  #PcSide{
    position: absolute;
    top: -25%;
    left: -4%;
    width: 13%;
    }   

    #PcSide2{
        position: absolute;
        top: -18%;
        right: -5%;
        width: 15%;
    }   

  @media only screen and (max-width: 600px) {
    #PcSide{
    display: none;
    }    
  }

  @media only screen and (max-width: 600px) {
    #PcSide2{
    display: none;
    }    
  }
    
    .sidelineleft{
        position: absolute;
        left: -15px;
        top: 0px;
        width: 40px;
    }
    
    #shopside{
        width: 60px;
        left: 173px;
        top: 75px;
    }
    
    #Theside{
        width: 60px;
        left: 20px;
        top: 160px;
        
    }
    .product-img{

    }
    @media only screen and (min-width: 600px) {
    .rotation{
        max-width: 50%;
        }
}

    
    .rotation{
        margin-top: -20%;
    }
@media only screen and (min-width: 600px) {
    .rotation{
    margin-top: -45%;
    margin-left: 75%;

    }
}
    .Everything{
        position: relative;
    margin-left: -100%;
    margin-top: -14%;
}

#from{
    position: absolute;
    overflow: visible;
    white-space: nowrap;
    text-align: center;
    font-family: "Helvetica Neue",Helvetica, Arial, sans-serif;
    font-style: normal;
    left: 1%;
    font-weight: bold;
    font-size: 25px;
    color: rgba(10,10,10,1);
    top: 81%;
}

#Everything{
    position: absolute;
    overflow: visible;
    white-space: nowrap;
    text-align: center;
    font-family: "Helvetica Neue",Helvetica, Arial, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 76px;
    color: rgba(10,10,10,1);
    left: 2px;
    top: 285px;
}

#shop{
    position: absolute;
    overflow: visible;
    white-space: nowrap;
    text-align: center;
    font-family: "Helvetica Neue",Helvetica, Arial, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 75px;
    color: rgba(10,10,10,1);
    top: 191px;
}
@media only screen and (max-width: 600px) {
    #shop{
    display: none;
    }    
  }

@media only screen and (max-width: 600px) {
    #Everything{
    display: none;
    }    
  }

@media only screen and (max-width: 600px) {
    #from{
    display: none;
    }    
  }

.underline{
    position: absolute;
    top: 290px;
    left: 5px;
}
#underline2{
    top: 400px;
    left: 307px;
}
#underline3{
    top: 500px;
    left: 390px;
}

 
  @media only screen and (max-width: 600px) {
    .underline{
display: none;
    } 
  }
